<% title "Edit Video" %>

<p></p>

<%= render :partial => 'form' %>

<p class="return_link">
	<span><%= link_to 'Show', @video %></span>
	<span> | </span>
	<span><%= link_to 'View All', videos_path %></span>
</p>

