<% title "Get To Know About KateBeeFoundation" %>

 <p>
  <div id="page_image_title_holder_about">
  <!-- end #page_image_title_holder_about --></div>

  <div id="page_image_holder_about">
  <!-- end #page_image_holder_about --></div>

  <div id="page_image_holder_footer_green">
  <!-- end #page_image_holder_footer_green --></div>
</p>

<div id="mini_navigation">

  <% for visitor in @visitors %>
    <%= link_to visitor.name, visitor.name %>
  <% end %>

<!-- end #mini_navigation --></div>

<div id="mini_navigation_gap">
<!-- end #mini_navigation_gap --></div>




  <div id="contact_holder">
        <p>
          <div class="contact_holder_heading">Our Origin</div>
        </p>

        <p>When in 1990, Catherine Bamson George (popularly known as Kate Bee), became a fatal victim of poverty at the age of 26, as the family mourned the loss of their beloved daughter, sister and friend, they also made a subconscious commitment to make a substantive contribution to the fight against poverty. This vision was carried out, at individual levels among the family members, until in 2007 when they decided to come together and institutionalise the vision of poverty eradication, and also take it beyond their ‘Jerusalem’ to the ‘uttermost part of the earth’.<br />
        </p>

        <p>
          <br />
          <div class="contact_holder_heading">Our Belief</div>
        </p>

        <p>Men and women are equal but different.<br />
          An equal opportunity-friendly environment is the bedrock of a sustainable human development <br />
          Everyone is  endowed with potentials to live  a poverty-free life
        </p>

        <p>
          <br />
          <div class="contact_holder_heading">Our Vision</div>
        </p>

        <p>To ensure that women and men have equal economic opportunities to attain their full potentials and participate, without discrimination, in public and private life.</p>

        <p>
          <br />
          <div class="contact_holder_heading">Our Mission</div>
        </p>

        <p>To create millionaires for the Lord God Almighty by assisting men and women, as well as boys and girls, to attain their full potentials in order to sustainably break free from the curse of poverty.</p>

        <p>
          <br />
          <div class="contact_holder_heading">Our Strategy</div>
        </p>

        <p>Kate Bee Foundation realises that poverty is multifaceted and endemic and therefore adopts a comprehensive and holistic approach for its sustainable eradication. The basic strategy of the Foundation is the empowerment approach which is constructed on the following three pillars:<br />
          Spiritual Development:- As poverty is a curse, Kate Bee Foundation believes that its sustainable eradication must include a spiritual perspective. The Foundation advocates faith in God and belief in the Lord Jesus Christ as an effective spiritual platform for the war against poverty.</p>
        <p>Social Development: - In addition to a formal structured educational background, Kate Bee Foundation believes in a functional and flexible educational approach that can stand the test of the dynamic socio-economic environment of the present millennium. The Foundation lays emphasis on viable and progressive social norms and values with a view to socially empower beneficiaries to live successful lives in the present global village concept.</p>
        <p>Economic Development:- KBF believes in the ability of men and women to create employment for themselves if given the appropriate support. The Foundation concentrates on equipping beneficiaries to become viable employers of labour through a carefully structured economic development scheme.</p>
	<!-- end #contact_holder --></div>

