<% title "The Activities Of KateBeeFoundation" %>

<p>
  <div id="page_image_title_holder_activities">
  <!-- end #page_image_title_holder_activities --></div>

  <div id="page_image_holder_activities">
  <!-- end #page_image_holder_activities --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>

<div id="mini_navigation">

  <% for visitor in @visitors %>
    <%= link_to visitor.name, visitor.name %>
  <% end %>

<!-- end #mini_navigation --></div>

<div id="mini_navigation_gap">
<!-- end #mini_navigation_gap --></div>

  <div id="contact_holder">
        <p>
          <div class="contact_holder_heading">Our Projects</div>
        </p>
          - Reports <br />

        <p>
          <br />
          <div class="contact_holder_heading">Our Programmes</div>
        </p>
          - Youth Empowerment Programme<br />
          - Women Empowerment Programme <br />
          - Gender Mainstreaming Programme</p>
        <p>Activities of KBF are carefully conceived to ensure that the mission of the Foundation is carried out in such a way as to realise its vision in the long term; mentoring, monitoring and follow up are therefore key words of the Foundation. </p>
        <p>KBF’s activities are categorised around three broad programmes, which are further divided into phases, each with specific goals and objectives, but carefully intertwined for the attainment of the overall objective of the Foundation. The Foundation is involved in the following broad areas of activities:</p>

        <p>
          <br />
          <div class="contact_holder_heading">Youth Empowerment Programme (YEP) - Creating young millionaires</div>
        </p>
        <p>Objectives:<br />
          to empower youths to start, develop and manage medium enterprises<br />
          to guide youths into philanthropic activities. &gt;&gt; more </p>

        <p>
          <br />
          <div class="contact_holder_heading">Women Empowerment Programme (WEP) - Breaking micro mentality</div>
        </p>
        <p>Objectives:<br />
          to empower women to effectively develop and manage medium enterprises <br />
          to facilitate female medium entrepreneurs to participate effectively in regional and international markets <br />
          to guide women to develop and manage structured philanthropic activities &gt;&gt; more</p>

        <p>
          <br />
          <div class="contact_holder_heading">Gender Mainstreaming Programme (GMP) - Transforming mentalities</div>
        </p>
        <p>Objectives:<br />
          To sensitise decision makers on gender and development issues<br />
          To assist the girl child in the realisation of her educational dreams<br />
          To assist decision makers in the formulation of gender sensitive programmes and policies<br />
          To provide information on gender issues at state, national and international levels &gt;&gt; more</p>
        <p>Activities of the Foundation are focused on professional/career groups chosen on an annual basis. In the next seven years, KBF will focus on the following areas: agriculture, catering, fashion/beauty, marketing, ICT, Legal aid, Medical aid.</p>

        <p>
          <br />
          <div class="contact_holder_heading">DOWNLOAD:</div>
        </p>
        <p>&gt;&gt; KBF Brochure (137KB) - Kate Bee Foundation</p>
	<!-- end #contact_holder --></div>

