<% title "Contact the customer relations office of KateBeeFoundation" %>

 <p></p>

 <p>
  <div id="page_image_title_holder">
  <!-- end #page_image_title_holder --></div>

  <div id="page_image_holder">
  <!-- end #page_image_holder --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>

<div id="mini_navigation">

  <% for visitor in @visitors %>
    <%= link_to visitor.name, visitor.name %>
  <% end %>

<!-- end #mini_navigation --></div>

<div id="mini_navigation_gap">
<!-- end #mini_navigation_gap --></div>

<p>
  <div id="contact_holder">
  <div class="contact_holder_heading">For any other information, you can call or contact us with the information below.</div><br />
  117 Niger Street,<br />
	Port Harcourt,<br />
	Rivers State,<br />
	Nigeria.<br />
	<br />
	Tel: +234 807 559 286 <br />
	+234   (0) 702 836 0320<br />
	<br />
	Email: info@katebeefoundation.org
	<!-- end #contact_holder --></div>
 </p>

