<% title "Source of funds for KateBeeFoundation" %>

 <p>
  <div id="page_image_title_holder_funding">
  <!-- end #page_image_title_holder_funding --></div>

  <div id="page_image_holder_funding">
  <!-- end #page_image_holder_funding --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>

<div id="mini_navigation">

  <% for visitor in @visitors %>
    <%= link_to visitor.name, visitor.name %>
  <% end %>

<!-- end #mini_navigation --></div>

<div id="mini_navigation_gap">
<!-- end #mini_navigation_gap --></div>

  <div id="contact_holder">

        <p>Funds are provided by the Jehovah Jireh (the Lord our provider) through projects and personal funds from KBF members </p>
        <p>How to support us:<br />
          Provide practical laboratory opportunities for beneficiaries<br />
          Offer intercessory prayers for the Foundation</p>
	<!-- end #contact_holder --></div>
 </p>

