<% title "Know The Objectives KateBeeFoundation Aims To Achieve" %>

<p>
  <div id="page_image_title_holder_objectives">
  <!-- end #page_image_title_holder_objectives --></div>

  <div id="page_image_holder_activities">
  <!-- end #page_image_holder_activities --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>

<div id="mini_navigation">

  <% for visitor in @visitors %>
    <%= link_to visitor.name, visitor.name %>
  <% end %>

<!-- end #mini_navigation --></div>

<div id="mini_navigation_gap">
<!-- end #mini_navigation_gap --></div>

  <div id="contact_holder">
        <div class="contact_holder_heading">Our Institutional Structure:</div>
        <p>As Kate Bee Foundation believes in mentoring, monitoring and follow-up of its beneficiaries, continuous institutional development is a priority. Operations of the Foundation are carried out from ‘The Empowerment Centre’ whose facilities are regularly upgraded to meet the dynamic demands of effective socio-economic development. The Foundation is guided and managed by a dedicated Board of Trustees.</p>
  <!-- end #contact_holder --></div>

