<% title "Achievements Attempted By KateBeeFoundation" %>

<p>
  <div id="page_image_title_holder_targets">
  <!-- end #page_image_title_holder_targets --></div>

  <div id="page_image_holder_activities">
  <!-- end #page_image_holder_activities --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>

<div id="mini_navigation">

  <% for visitor in @visitors %>
    <%= link_to visitor.name, visitor.name %>
  <% end %>

<!-- end #mini_navigation --></div>

<div id="mini_navigation_gap">
<!-- end #mini_navigation_gap --></div>

  <div id="contact_holder">
        <p>
          <span class="contact_holder_heading">Youths:</span><br />The Foundation focuses on this group with a view to empowering them and raising a crop of young successful business men and women with the potential to create a ripple effect in the society. <br /><br />
          <span class="contact_holder_heading">Women:</span><br />KBF believes in the full potentials of women to contribute meaningfully in all spheres and at all levels of human endeavour. The Foundation therefore works with women to ensure a critical mass of medium level women entrepreneurs who are equipped to take their rightful position as equal partners with men in the sustainable development of the society. <br /><br />
          Decision makers, religious and traditional authorities: The importance of religious, traditional and political authorities in shaping society cannot be over emphasised; the Foundation therefore seeks to closely collaborate with these instances to ensure an enabling environment for the promotion of a gender sensitive development.</p>
	<!-- end #contact_holder --></div>

