<% title "Welcome To KateBeeFoundation" %>

<p>Kate Bee Foundation (<span class="caps">KBF</span>) is a family Foundation that is committed to the eradication
of poverty in a gender sensitive manner. <span class="caps">KBF</span> mentors, monitors and follows up youths and
women to ensure their total freedom from the curse of poverty and their translation to sustainable prosperity.</p>

<p>In KBF’s approach to poverty eradication, a holistic prescription focusing on the spirit, soul and body, is given
to ensure that the new found freedom from poverty is sustainable.</p>

<p>In order to make concrete and measurable contribution to the eradication of poverty, we have chosen to concentrate
our activities in the Niger Delta region of Nigeria, and specifically, in Rivers State. Our choice of Rivers State is
primarily based on the fact that the members of the <span class="caps">KBF</span> have their roots in this area of
Nigeria.</p>

<p>Their knowledge and experiences of poverty, as well as ways and means of breaking from its shackles are specific
to Rivers State. This specific knowhow will ensure maximum use of our limited resources in this war we have decided to
wage against poverty.</p>

<p>Secondly, the choice of Rivers State is also predicated on the illogicality and senselessness of poverty as seen in
the State in the midst of millions of petro dollars generated from the State through the abundance of oil and gas in
its territory.</p>

<p>The irony of ‘oil, oil everywhere and not a penny in our pockets’ has reached a highly distressing level,
especially with the advent of civilian rule as people become more aware of the money that passes through the hands of
their leaders and attempt to compare that with their deplorable living standards.</p>

<p>Whereas we do not claim to have the magic wand to turn all poor people to millionaires, <span class="caps">KBF</span>
is convinced that poverty can be a thing of the past in Rivers State and therefore has decided to step in to work
towards the noble goal of poverty eradication.</p>

<p>Furthermore, having ascertained from research and practice that an environment that tolerates discrimination based
on biological differences of males and females is a fertile ground for breeding poverty, Kate Bee Foundation strongly
and earnestly advocates the elimination of all forms of discrimination against women and upholds the gender equality
value in all its activities.</p>

<p>Whereas the task of poverty eradication on its own is quite enormous, the advocacy for a gender sensitive poverty
eradication in the traditional setting in which we are operating can at best be described as an uphill task.
Nevertheless, we are optimistic that our humble contributions will go a long way in the overall reduction of poverty
in the State.</p>

<p>Nevertheless, as the Bible points out in Deuteronomy chapter 32 verse 30, whereas one can chase an impressive one
thousand, two can chase a whopping ten thousand; we invite you to join forces with us and put the enemy of poverty
speedily and permanently to flight in the oil rich Rivers State, and indeed, in the Niger Delta of Nigeria.</p>

